<html>
<head>
</head>
<body>
    <form action="/addAirplaneAuth" method="POST">

        <input type = text name = id placeholder= "airplane id" required>
        <br></br>
        <input type = text name = airline_name placeholder= "airline name" required>
        <br></br>
        <input type = text name = num_seats placeholder= "number of seats" required>
        <br></br>
        <input type = text name = manufacturer placeholder= "manufacturer" required>
        <br></br>
        <input type = date name = manufacture_date placeholder= "manufacture date" required>
        <br></br>
        <input type = submit value = add airplane>
        <br></br>

        
    </form>
<a href="/staffHome">logout</a>
</body>
</html>
