<html>
<head>
</head>
<body>
    <form action="/addAirportAuth" method="POST">

        <input type = text name = code placeholder= "airport code" required>
        <br></br>
        <input type = text name = name placeholder= "airport name" required>
        <br></br>
        <input type = text name = city placeholder= "city" required>
        <br></br>
        <input type = text name = country placeholder= "country" required>
        <br></br>
        <input type = text name = type placeholder= "type" required>
        <br></br>
        <input type = submit value = add airplane>
        <br></br>

        
    </form>
<a href="/staffHome">logout</a>
</body>
</html>
