
<html>
<head>
</head>
<body>
<form action="/createFlightAuth" method="POST">

    <input type = text name = num placeholder= "flight number" required>
    <br></br>
    departure_datetime
    <input type = date name = departure_datetime placeholder= "departure date" required>
    <br></br>
    <input type = text name = airline_name placeholder= "airline_name" required>
    <br></br>
    arrival_datetime
    <input type = date name = arrival_datetime placeholder= "arrival date" required>
    <br></br>
    <input type = text name = base_price placeholder= "base price" required>
    <br></br>
    <input type = text name = departure_airport_code placeholder= "departure airport code" required>
    <br></br>
    <input type = text name = arrival_airport_code placeholder= "arrival airport code" required>
    <br></br>
    <input type = text name = airplane_id placeholder= "airplane id" required>
    <br></br>
    <input type = text name = status placeholder= "status" required>
    <br></br>
    <input type = submit value = create>
    <br></br>
    
</form>
<br></br>
<a href="/staffHome">Go back</a>
<br></br>
</body>


</html>
