<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="text" name = "f_name" placeholder="first name" required/> </br>
	<input type="text" name = "l_name" placeholder="last name" required/></br>
	<input type="number" name = "bldg_num" placeholder="building number" required/> </br>
	<input type="text" name = "st_name" placeholder="street name" required/></br>
	<input type="text" name = "apt_num" placeholder="apt number" required/> </br>
	<input type="text" name = "city" placeholder="city" required/></br>
	<input type="text" name = "state" placeholder="state" required/> </br>
	<input type="text" name = "zip_code" placeholder="zip code" required/></br>
	Passport Exp date
	<input type="text" name = "passport_num" placeholder="passport number" required/> </br>
	<input type="date" name = "passport_exp" placeholder="passport_exp" required/></br>
	<input type="text" name = "passport_country" placeholder="nationality" required/> </br>
	DOB
	<input type="date" name = "dob" placeholder="dob" required/></br>
	<input type="submit" value = Register />
	
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/register">Go back</a>
</body>
</html>
