
<html>
<head>
</head>
<body>
<form action="/oneWaySearch" method="POST">
    <input tpye = text name = departingFrom placeholder= "departing city/code" required>
    <br></br>
    <input tpye = text name = arrivingAt placeholder= "arriving city/code" required>
    <br></br>
    <input type = submit value = search>
    <br></br>

    	
	{% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

</form>
<br></br>
<a href="/flight">Go back</a>
<br></br>
</body>


</html>
