<html>
<head>
</head>
<body>
	<h1>Welcome Staff </h1>
<a href="/staffloginFlight">flight</a>
<br></br>
<a href="/createFlight">create flight</a>
<br></br>
<a href="/changeStatus">change flight status</a>
<br></br>
<a href="/createTicket">create ticket</a>
<br></br>
<a href="/addAirplane">add airplane</a>
<br></br>
<a href="/addAirport">add airport</a>
<br></br>
<a href="/viewRating">view rating</a>
<br></br>
<a href="/viewRevenue">view revenue</a>
<br></br>
<a href="/logout">logout</a>
</body>
</html>
